body{
    margin: 0;
}
.menu{
background:#ffffff; 
padding: 22px 133px;

}
.menu a{     
text-decoration: none;     
padding: 24px;      
color: #002E1F;
} 

    .right-menu{
    text-align: end;
    padding-top: 8px;
    font-size: 24px;
    font-weight: 700;
    }
    
    h1{
        font-size: 75px;
        margin: 0;
        color: #363958;
        font-family: 'Bebas Neue', cursive;
        font-weight: 400;
    }
    
    p{
        font-family: 'Roboto', sans-serif;
        color: #3E3E3E;
        font-size: 20px;
        font-weight: 600;
        margin: 47px 0;
    }
    .orange-highlight{
    color: #FF8367;
    }
    .half-width{
        width: 40%;
        margin-left: 5%;
        padding-left: 2%;
        float: left;
    }
img{
        width: 100%;
    }
    
    .link-button{
        text-decoration: none;
        background-image: linear-gradient(45deg, lightsalmon, tomato);
        padding: 13px 31px;
        font-weight: 400;
        border-radius: 7px;
        color: white;
        font-size: 21px;
    }
    h2{
        font-size: 56px;
        margin: 0;
        color: #363958;
        font-family: 'Bebas Neue', cursive;
        font-weight: 400;
        /* margin-top: 0px; */
    }
    section{
        height: 320px;
        padding-bottom: 286px;
    }
    
    .working-project{
        background-color: #F8F9FC;
        height: 432px;
        padding-left: 10%;
    }
    .creative-agency{
        float: left;
        width: 25%;
        border: 1px solid #ffffff;
        border-radius: 22px;
        background: #FFFFFF;
        padding: 38px 15px;
        width: 27%;
        margin: 80px 9px;
        box-shadow: 0px 7px 16px grey;
        height: 320px;
    }
    img{
        width: 100%;
    }
.creative-agency h3{
    color: #363958;
    font-size: 20px;
    font-weight: 700;
}
.creative-agency span{
    font-family: 'Roboto', sans-serif;
    color: #3E3E3E;
    font-size: 17px;
    font-weight: 600;
}
.working-project h4{
    font-size: 46px;
    margin: 0;
    color: #363958;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    padding-left: 33%;
    padding-top: 29px;
}
.work-inquiry{padding-bottom: 0;padding-top: 89px;height: 351px;}
.work{
    background-image: url("./images/Group_33094_1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 70%;
    float: left;
    border-radius: 30px;
    height: 300px;
}
.blank{
    width: 15%;
    float: left;
    height: 300px;
}
#color-highlight{
    color: #ffffff;
    padding-top: 95px;
    padding-left: 96px;
    font-size: 76px;
    float: left;
}
#chat-button{
float: right;
margin-top: 95px;  
margin-right: 96px;
}
.stay-connected{
    text-align: center;
    padding-bottom: 0;
    height: 300px;
    width: 30%;
    margin-left: 35%;
}
.stay-connected h5{
    color: #696871;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    margin-top: 0;
    font-weight: 400;
    margin-bottom: 12px;
}

.stay-connected ul{
    /* margin-left: 64px; */
}
.stay-connected ul li{/* float: left; */list-style: none;}
.stay-connected ul li img{
    width: 10%;
    float: left;
    margin-left: 51px;
    }